{
  "discord_webhook_urls": ["FILL_THIS_IN_YOURSELF"],
  "port": 8081,
  "message": {
    "content": "$author_name has just released a release of $repo_name",
    "username": "$author_name",
    "avatar_url": "$author_avatar_url",
    "embeds": [
      {
        "title": "New release on $repo_full_name",
        "url": "$release_url",
        "description": "Yay! Release on [$repo_full_name]($repo_url) by $author_name",
        "fields": [
          {
            "name": "Name",
            "value": "$release_name ($release_tag_name)"
          },
          {
            "name": "Release Notes",
            "value": "$release_body"
          }
        ],
        "author": {
          "name": "$author_name",
          "url": "$author_profile_url",
          "icon_url": "$author_avatar_url"
        },
        "footer": {
          "text": "This webhook was made by Deno <3",
          "icon_url": "https://deno.land/images/hashrock_simple.png"
        }
      }
    ]
  }
}
